html,
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.menu {
  width: 30%;
  height: 100%;
  background-color: rgb(161, 201, 236);
}

.menu h1,
.menu h2 {
  text-align: center;
  color: white;
}

.menu h1 {
  font-size: 4vw;
}

.menu h2 {
  font-size: 2vw;
}

.list-item {
  font-size: 1.5vw;
  color: white;
  background-color: rgb(161, 201, 236);
  border: none;
}

.list-items-container:hover,
.list-items-container:hover .list-item,
.list-items-container:hover .removebtn,
.list-items-container:hover .addbtn {
  color: rgb(161, 201, 236);
  background-color: white;
}

.list-items-container:hover {
  border: 2px solid white;
  margin: -2px;
}

.list-container {
  margin: 4vh 1vh;
  padding: 1vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-container {
  padding-top: 30vh;
}

#list-input {
  font-size: 1.5vw;
  color: white;
  background-color: rgb(161, 201, 236);
  border: none;
  border-bottom: 2px solid white;
}

.list-items-container,
.input-items-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh;
}

.addbtn,
.removebtn,
.savebtn,
.cancelbtn {
  width: 2vw;
  height: 2vw;
  background-color: rgb(161, 201, 236);
  border: none;
}
.addbtn {
  background-image: url(/public/plus.svg);
}

.removebtn {
  background-image: url(/public/trash-can-outline.svg);
}

#app {
  width: 70%;
  height: 100%;
  background-color: aliceblue;
}

.addtask {
  background-color: rgb(161, 201, 236);
  border: none;
  color: white;
  font-size: 2vh;
  cursor: pointer;
  padding: 0.5vh;
}

.plus-icon {
  background-image: url(/public/plus.svg);
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.popup {
  position: absolute;
  width: 50%;
  height: 30%;
  background-color: white;
  border: 3px solid rgb(161, 201, 236);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  display: flex;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.savebtn,
.cancelbtn {
  height: 4vh;
  width: 8vw;
  color: white;
  font-size: 2vh;
}
